<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lulu.health.mapper.WeightLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO weight_logs(weight_kg, recorded_at)
        VALUES(#{weightKg}, #{recordedAt})
    </insert>

    <select id="findAllOrderByRecordedAtDesc" resultType="com.lulu.health.model.WeightLog">
        SELECT * FROM weight_logs ORDER BY recorded_at DESC
    </select>

    <select id="findByRecordedAtRange" resultType="com.lulu.health.model.WeightLog">
        SELECT * FROM weight_logs
        WHERE recorded_at &gt;= #{start} AND recorded_at &lt; #{end}
        ORDER BY recorded_at DESC
    </select>

</mapper>
